<header class="border-bottom">
    
    <div class="p-4 d-flex align-items-center justify-content-between">
        {{ title() }}
        <nav>
            <a class="p-2 text-dark" href="/statistics">Statistics</a>
            <a class="p-2 text-dark" href="/gallery">Gallery</a>
            <a class="p-2 text-dark" href="/livestream">Live-Stream</a>
            <a class="p-2 text-dark" href="/messages">Messages</a>
            <a class="p-2 text-dark" href="/settings">Settings</a>
            <a class="p-2 text-dark" href="/wifi">WIFI</a>
        </nav>
        <button class="btn btn-dark" (click)="onLogout()">Logout</button>
    </div>
</header>
