.sticky-top {
  z-index: 1020; /* keeps selector above content */
}

.img-thumbnail {
  transition: transform 0.2s ease;
  padding: 0;
  border: 0;
}

.img-thumbnail:hover {
  transform: scale(1.05);
}
